$background:  linear-gradient(90deg,#2A2F4F 0%, #917FB3  100%);
$font-family: 'Poppins', sans-serif;
$font-family-f:'Courier New', Courier, monospace;
$color:#E5BEEC;
$secondary:#FDE2F3;
$font-size:20px;
$font-size-f:13px;
