$background:  linear-gradient(90deg, rgb(4, 70, 38) 0%, rgb(134, 220, 168) 35%, rgba(0,212,255,1) 100%);
$font-family: 'Poppins', sans-serif;
$font-family-f:'Courier New', Courier, monospace;
$color:rgba(10, 2, 2, 0.726);
$secondary:rgb(245, 251, 245);
$font-size:20px;
$font-size-f:13px;
